KassirManagerBase/.vs/
KassirManagerBase/KassirManagerBase/bin/
KassirManagerBase/KassirManagerBase/obj/Debug/App.g.cs
KassirManagerBase/KassirManagerBase/obj/Debug/App.g.i.cs
KassirManagerBase/KassirManagerBase/obj/Debug/ChecksWinow.g.i.cs
KassirManagerBase/KassirManagerBase/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KassirManagerBase/KassirManagerBase/obj/Debug/EditWindow.baml
KassirManagerBase/KassirManagerBase/obj/Debug/EditWindow.g.cs
KassirManagerBase/KassirManagerBase/obj/Debug/EditWindow.g.i.cs
KassirManagerBase/KassirManagerBase/obj/Debug/KassirManagerBase.Properties.Resources.resources
KassirManagerBase/KassirManagerBase/obj/Debug/KassirManagerBase.csproj.FileListAbsolute.txt
KassirManagerBase/KassirManagerBase/obj/Debug/KassirManagerBase.csproj.GenerateResource.Cache
KassirManagerBase/KassirManagerBase/obj/Debug/KassirManagerBase.csprojResolveAssemblyReference.cache
KassirManagerBase/KassirManagerBase/obj/Debug/KassirManagerBase.exe
KassirManagerBase/KassirManagerBase/obj/Debug/KassirManagerBase.g.resources
KassirManagerBase/KassirManagerBase/obj/Debug/KassirManagerBase.pdb
KassirManagerBase/KassirManagerBase/obj/Debug/KassirManagerBase_Content.g.cs
KassirManagerBase/KassirManagerBase/obj/Debug/KassirManagerBase_Content.g.i.cs
KassirManagerBase/KassirManagerBase/obj/Debug/KassirManagerBase_MarkupCompile.cache
KassirManagerBase/KassirManagerBase/obj/Debug/KassirManagerBase_MarkupCompile.i.cache
KassirManagerBase/KassirManagerBase/obj/Debug/KassirManagerBase_MarkupCompile.i.lref
KassirManagerBase/KassirManagerBase/obj/Debug/KassirManagerBase_MarkupCompile.lref
KassirManagerBase/KassirManagerBase/obj/Debug/MainWindow.baml
KassirManagerBase/KassirManagerBase/obj/Debug/MainWindow.g.cs
KassirManagerBase/KassirManagerBase/obj/Debug/MainWindow.g.i.cs
KassirManagerBase/KassirManagerBase/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
KassirManagerBase/KassirManagerBase/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KassirManagerBase/KassirManagerBase/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KassirManagerBase/KassirManagerBase/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KassirManagerBase/KassirManagerBase/obj/x86/Debug/App.g.cs
KassirManagerBase/KassirManagerBase/obj/x86/Debug/App.g.i.cs
KassirManagerBase/KassirManagerBase/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KassirManagerBase/KassirManagerBase/obj/x86/Debug/EditWindow.baml
KassirManagerBase/KassirManagerBase/obj/x86/Debug/EditWindow.g.cs
KassirManagerBase/KassirManagerBase/obj/x86/Debug/EditWindow.g.i.cs
KassirManagerBase/KassirManagerBase/obj/x86/Debug/KassirManagerBase.Properties.Resources.resources
KassirManagerBase/KassirManagerBase/obj/x86/Debug/KassirManagerBase.csproj.FileListAbsolute.txt
KassirManagerBase/KassirManagerBase/obj/x86/Debug/KassirManagerBase.csproj.GenerateResource.Cache
KassirManagerBase/KassirManagerBase/obj/x86/Debug/KassirManagerBase.csprojResolveAssemblyReference.cache
KassirManagerBase/KassirManagerBase/obj/x86/Debug/KassirManagerBase.exe
KassirManagerBase/KassirManagerBase/obj/x86/Debug/KassirManagerBase.g.resources
KassirManagerBase/KassirManagerBase/obj/x86/Debug/KassirManagerBase.pdb
KassirManagerBase/KassirManagerBase/obj/x86/Debug/KassirManagerBase_Content.g.cs
KassirManagerBase/KassirManagerBase/obj/x86/Debug/KassirManagerBase_Content.g.i.cs
KassirManagerBase/KassirManagerBase/obj/x86/Debug/KassirManagerBase_MarkupCompile.cache
KassirManagerBase/KassirManagerBase/obj/x86/Debug/KassirManagerBase_MarkupCompile.i.cache
KassirManagerBase/KassirManagerBase/obj/x86/Debug/KassirManagerBase_MarkupCompile.i.lref
KassirManagerBase/KassirManagerBase/obj/x86/Debug/KassirManagerBase_MarkupCompile.lref
KassirManagerBase/KassirManagerBase/obj/x86/Debug/MainWindow.baml
KassirManagerBase/KassirManagerBase/obj/x86/Debug/MainWindow.g.cs
KassirManagerBase/KassirManagerBase/obj/x86/Debug/MainWindow.g.i.cs
KassirManagerBase/KassirManagerBase/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
KassirManagerBase/KassirManagerBase/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KassirManagerBase/KassirManagerBase/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KassirManagerBase/KassirManagerBase/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KassirManager/.vs/KassirManager/v14/.suo
KassirManager/KassirManager/bin/Debug/KassirManager.exe
KassirManager/KassirManager/bin/Debug/KassirManager.exe.config
KassirManager/KassirManager/bin/Debug/KassirManager.pdb
KassirManager/KassirManager/bin/Debug/KassirManager.vshost.exe
KassirManager/KassirManager/bin/Debug/KassirManager.vshost.exe.config
KassirManager/KassirManager/bin/Debug/KassirManager.vshost.exe.manifest
KassirManager/KassirManager/bin/Debug/KassirManagerBase.exe
KassirManager/KassirManager/bin/Debug/KassirManagerBase.pdb
KassirManager/KassirManager/bin/Debug/Newtonsoft.Json.dll
KassirManager/KassirManager/bin/Debug/Newtonsoft.Json.xml
KassirManager/KassirManager/bin/Debug/SQLite.Net.Platform.Generic.dll
KassirManager/KassirManager/bin/Debug/SQLite.Net.dll
KassirManager/KassirManager/bin/Debug/SQLiteNetExtensions.dll
KassirManager/KassirManager/bin/Debug/sqlite3.dll
KassirManager/KassirManager/obj/Debug/App.baml
KassirManager/KassirManager/obj/Debug/App.g.cs
KassirManager/KassirManager/obj/Debug/App.g.i.cs
KassirManager/KassirManager/obj/Debug/CheckWindow.baml
KassirManager/KassirManager/obj/Debug/CheckWindow.g.cs
KassirManager/KassirManager/obj/Debug/CheckWindow.g.i.cs
KassirManager/KassirManager/obj/Debug/ChecksWinow.g.i.cs
KassirManager/KassirManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KassirManager/KassirManager/obj/Debug/GeneratedInternalTypeHelper.g.cs
KassirManager/KassirManager/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
KassirManager/KassirManager/obj/Debug/KassirManager.Properties.Resources.resources
KassirManager/KassirManager/obj/Debug/KassirManager.csproj.FileListAbsolute.txt
KassirManager/KassirManager/obj/Debug/KassirManager.csproj.GenerateResource.Cache
KassirManager/KassirManager/obj/Debug/KassirManager.csprojResolveAssemblyReference.cache
KassirManager/KassirManager/obj/Debug/KassirManager.exe
KassirManager/KassirManager/obj/Debug/KassirManager.g.resources
KassirManager/KassirManager/obj/Debug/KassirManager.pdb
KassirManager/KassirManager/obj/Debug/KassirManager_MarkupCompile.cache
KassirManager/KassirManager/obj/Debug/KassirManager_MarkupCompile.i.cache
KassirManager/KassirManager/obj/Debug/KassirManager_MarkupCompile.lref
KassirManager/KassirManager/obj/Debug/MainWindow.baml
KassirManager/KassirManager/obj/Debug/MainWindow.g.cs
KassirManager/KassirManager/obj/Debug/MainWindow.g.i.cs
KassirManager/KassirManager/obj/Debug/NewCheckWindow.baml
KassirManager/KassirManager/obj/Debug/NewCheckWindow.g.cs
KassirManager/KassirManager/obj/Debug/NewCheckWindow.g.i.cs
KassirManager/KassirManager/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
KassirManager/KassirManager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KassirManager/KassirManager/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KassirManager/KassirManager/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs